<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="../static/css/about.css">
        <link rel="title icon" href="../static/img/1.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="title icon" href="../static/img/1.png">
    </head>
    <body>
        <nav class= "navbar ml-auto fixed-top text-center">
            <div class="row">
                <div class="logo">
                        <h1 style="font-family: 'Pacifico', cursive; color: red; font-size: 35px;">Ca:)<span style="font-family: 'Pacifico', cursive; color: cyan;">ddy</span></h1>
                </div>
    
                <div class="menu"> 
                    <ul>
                            <li><a href="#about">ABOUT US</a></li>
                            <li><a href="#team">TEAM</a></li>
                            <li><a href="#contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="about" class="container-fluid about">
        <div class="row mb-5">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6 leftside">
                        <img src="../static/img/about.png">
                    </div>
                    <div class="col-xl-5 ml-auto rightside">
                        <h1>ABOUT</h1>
                        <p>Caddy is the next generation shopping cart which provides customers
                           the all new shopping experience by providing them easy and convenient access
                           of the shopping center's facilities.
                        </p>
                        <p>This smart cart is totally based on the fully automation of shopping process
                           with the help of industry revolution 4.0.
                        </p>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div id="team">
        <br><br>      
    </div>
    </section>
        <section class="team-area">
            <div class="container">
                <h3 class="section-headinhg text-center mb-5">Team Members</h3>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4 col-sm-12">
                        <div class="team-single">
                            <div class="content-area">
                                <div class="side-one">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <div class="img-area">
                                                <img src="../static/img/3.jpg" alt="">
                                            </div>
                                                <h4>Abhishek Rajpoot</h4>
                                                <p>Senior Developer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-two">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4>Abhishek Rajpoot</h4>
                                            <p>Senior software developer and project manager
                                                at Hyperbola Inc. and founder of Caddy:The nextgen shopping cart.

                                            </p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-linkedin-square"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-sm-12">
                        <div class="team-single">
                            <div class="content-area">
                                <div class="side-one">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <div class="img-area">
                                                <img src="../static/img/2.jpg" alt="">
                                            </div>
                                                <h4>Jaydeep Kumar</h4>
                                                <p>Developer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-two">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4>Jaydeep Kumar</h4>
                                            <p>Software developer and HR Manager
                                                at Hyperbola Inc. and co-founder of Caddy:The nextgen shopping cart.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-linkedin-square"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-4 col-sm-12">
                        <div class="team-single">
                            <div class="content-area">
                                <div class="side-one">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <div class="img-area">
                                                <img src="../static/img/1.jpg" alt="">
                                            </div>
                                                <h4>Nida Khan</h4>
                                                <p>Developer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="side-two">
                                    <div class="card">
                                        <div class="card-body text-center mt-4">
                                            <h4>Nida Khan</h4>
                                            <p>Software developer and senior HR
                                                at Hyperbola Inc. and backend developer of Caddy:The nextgen shopping cart.</p>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-facebook-square"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-linkedin-square"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="#" class="social-icon" target="_blank">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="contact">
            <br><br><br>    
        </div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CONTACT US</h1>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header bg-primary mt-2 text-white"><i class="fa fa-envelope"></i> Contact us.
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                </div>
                                <div class="mx-auto">
                                <button type="submit" class="btn btn-primary text-right">Submit</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
                        <div class="card-body">
                            <p>616/026 Khadri</p>
                            <p>Lucknow</p>
                            <p>India</p>
                            <p>Email : contact@caddy.com</p>
                            <p>Tel. +33 12 56 11 51 84</p>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Footer -->
        <footer class="text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-4 col-xl-3">
                        <h5>About</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <p class="mb-0">
                            Caddy is the copyright &copy; product of Hyperbola Inc.
                        </p>
                    </div>
        
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                        <h5>Whats new</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li><a href="">Article 1</a></li>
                            <li><a href="">Article 2</a></li>
                            <li><a href="">Article 3</a></li>
                            <li><a href="">Article 4</a></li>
                        </ul>
                    </div>
        
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
                        <h5>Social Links</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/CaddyTheSmartCart/"><i id="i" class="fa fa-facebook-square text-light"></i> Facebook</a></li>
                            <li><a href="https://www.instagram.com/caddy_the_smart_cart/"><i id="i" class="fa fa-instagram text-light"></i> Instagram</a></li>
                            <li><a href="#"><i id="i" class="fa fa-linkedin-square text-light "></i> LinkedIn</a></li>
                        </ul>
                    </div>
        
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <h5>Contact</h5>
                        <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-home mr-2"></i> Caddy</li>
                            <li><i class="fa fa-envelope mr-2"></i> contact@caddy.com</li>
                            <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                            <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                        </ul>
                    </div>
                    <div class="col-12 copyright mt-3">
                        <p class="float-left">
                            <a href="#">Back to top</a>
                        </p>
                        <p class="text-right">Caddy.com &copy; 2020 | <span>v. 1.0</span></p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="../static/js/script.js"></script>
    </body>
</html