<!DOCTYPE html>
<html>
    <head>
        <title>Caddy</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="title icon" href="../static/img/1.png">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <script src="../static/js/script.js"></script>
    </head>
    <body>

        <header class="site-header clearfix">
            <nav>
                <div class="logo">
                    <h1 style="font-family: 'Pacifico', cursive; color: red; font-size: 35px;">Ca:)<span style="font-family: 'Pacifico', cursive; color: cyan;">ddy</span></h1>
                </div>
                <div class="menu"> 
                    <ul>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="mailto:help@caddy.com">HELP</a></li>
                        <li><a href="#">WHATS NEW</a></li>
                    </ul>
                </div>
            </nav>
            <section>
                <div class="leftside"> 
                    <img src="../static/img/main.jpg">
                </div>
            <div class="rightside"> 
                <h1>CADDY: THE NEXTGEN SHOPPING</h1>
                <p>THE ALL NEW SHOPPING EXPERIENCE</p>
                <button id="button" type="submit">LOGIN</button>
                </div> 
            </section>
            <div class="bg-modal">
                <div class="modal-content">
                    <form action="/admin" class="login-form" method="POST">
                        <div class="close">+</div>
                            <h1 id="1h">Login</h1>                   
                            <div class="txtb">
                                <input type="text" name="username" placeholder="Username">
                            </div>                
                            <div class="txtb">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <input type="submit" class="button" value="Login">
                            <div class="forgot">
                                <a href="#" class="forgot">Forgot Password ?</a>
                            </div>
                    </form>
                </div>
            </div>
            <div class="footer">
                <p class="text-muted">Caddy.com &copy; 2020 | <span>v. 1.0</span></p>
            </div>
        </header>
        <script src="../static/js/script.js"></script>
    </body>
</html